<div class="container-home">
  <div class="information">
    <img class="container-home__image" src="assets/img/logo-campaña-no-margin.png" alt="ayudar hace bien" />
    <p class="container-home__description">Tu ayuda devuelve la sonrisa a las personas que lo perdieron todo.</p>
    <div class="goal">
      <p class="goal__title">Meta:</p>
      <h4 class="goal__total">120 toneladas</h4>
      <div class="progress goal__progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">25%</div>
      </div>
    </div>
    <a class="btn btn-colaborate animate__animated animate__bounce btn-lg" href="#">Colabora Aquí</a>
  </div>

  <div class="selector">
    <a class="btn btn-colaborate animate__animated animate__bounce btn-lg" href="#">Colabora Aquí</a>
  </div>

</div>

<app-como-ayudar></app-como-ayudar>
<app-porque-ayudar></app-porque-ayudar>