<div class="content-page">
    <div class="container-ayuda">
        <h2 class="title-page">¿Cómo Ayudar?</h2>
        <p class="font-weight-bold">Tu donación alimentara a muchas familias vulnerables</p>
        <div class="boxes">
            <div class="box">
                <img src="assets/img/ayuda1.png" alt="caja auxilio" width="180">
                <p>Donando S/10.00</p>
                <div class="box__kilo">
                    <span class="number">3</span>
                    <span>KILOS</span>
                </div>
                <a class="box__action">Colabora aqui</a>
            </div>
            <div class="box">
                <img src="assets/img/ayuda1.png" alt="caja auxilio" width="180">
                <p>Donando S/20.00</p>
                <div class="box__kilo">
                    <span class="number">5</span>
                    <span>KILOS</span>
                </div>
                <a class="box__action">Colabora aqui</a>
            </div>
            <div class="box">
                <img src="assets/img/ayuda1.png" alt="caja auxilio" width="180">
                <p>Donando S/50.00</p>
                <div class="box__kilo">
                    <span class="number">10</span>
                    <span>KILOS</span>
                </div>
                <a class="box__action">Colabora aqui</a>
            </div>
            <div class="box">
                <img src="assets/img/ayuda1.png" alt="caja auxilio" width="180">
                <p>Donando S/100.00</p>
                <div class="box__kilo">
                    <span class="number">20</span>
                    <span>KILOS</span>
                </div>
                <a class="box__action">Colabora aqui</a>
            </div>
        </div>
    </div>

    <div class="notice">
        <img class="notice__map" src="assets/img/map.png" alt="">
        <img class="notice__point" src="assets/img/point.png" alt="">
        <p>Contaremos con 12 centros de acopio de alimentos a nivel nacional</p>
        <button class="btn notice__action">Conoce mas</button>
    </div>
</div>