<div class="container-inicio">
    <h2>¿Cómo Donar?</h2>
    <p class="font-weight-bold">"Tu ayuda regresa la sonrisa a quienes lo perdieron todo"</p>
    <div class="boxes">
        <div class="box">
            <a href="https://adra.org.pe/colecta/"><img draggable="false" src="assets/img/visa.png" alt="caja auxilio" width="200"></a>
        </div>
        <div class="box">
            <a [routerLink]="['yape']"><img draggable="false" src="assets/img/yape.png" alt="caja yape" width="200"></a>
        </div>
        <div class="box">
            <a [routerLink]="['bcp']"><img draggable="false"  src="assets/img/bcp.png" alt="caja bcp" width="200"></a>
        </div>
        <div class="box">
            <a [routerLink]="['bbva']"><img draggable="false" src="assets/img/bbva.png" alt="caja bbva" width="200"></a>
        </div>
    </div>
    <p class="donacion">Realiza tu donación haciendo <strong>click</strong> en la alcancia virtual de tu preferencia</p>
</div>