<div class="container-main">


    <div class="content-links">
        <router-outlet></router-outlet>
    </div>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 justify-content-center d-flex mb-3">
                <span class="text-center">Haz que estas alcancías lleguen a más personas. ¡Comparte!</span>
            </div>
            <div class="col-10 text-center">
                <button (click)="openFacebook()" class="btn btn-sm btn-social m-1">
                    <i class="fab fa-facebook-square"></i> Facebook
                </button>
                <button (click)="openWhatsapp()" class="btn btn-sm btn-social m-1">
                    <i class="fab fa-whatsapp-square"></i> Whatsapp
                </button>
                <button (click)="openTwitter()" class="btn btn-sm btn-social m-1">
                    <i class="fab fa-twitter-square"></i> Twitter
                </button>
                <a href="https://www.linkedin.com/company/adra-per%C3%BA/" class="btn btn-sm btn-social m-1">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="voluntario" >
            <p>!Juntos podemos unir gente extraordinaria para grandes causas!</p>
            <a class="btn btn-voluntario" href="https://www.adra.org.pe/voluntariado">Hazte voluntario</a>
        </div>
        <div class="certificado">
            Otorgamos certificado de donación 
        </div>
    </footer>
</div>
